* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  text-decoration: none;
  background: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
}

.btn-border {
  border: 2px solid white;
}

/* HERO and HEADER */

header {
  padding: 0 200px 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1f2937;
}

nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

nav .logo p {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

ul li {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 18px;
}

.hero img {
  width: 500px;
  height: auto;
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 1000;
  margin-bottom: 0.5rem;
}

.hero p {
  margin-bottom: 1.5rem;
  font-size: 18px;
  color: #e5e7eb;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* INFO */

.info {
  padding: 0 200px;
  margin: 50px 0;
}

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
  margin-bottom: 50px;
}

.info img {
  width: 200px;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 5px solid #3882f6;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.info-sec {
  max-width: 200px;
}

.info p {
  color: #e5e7eb;
}


/* QUOTE */
.quote {
  background: #e5e7eb;
  padding: 100px 200px;
}

.quote figure {
  padding: 0 100px;
}

.quote blockquote p {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
  font-style: italic;
  margin-bottom: 1rem;
}

.quote figcaption {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

/* ACTION */
.action {
  padding: 100px 200px;
}

.action .action-content {
  padding: 30px 50px;
  background: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 12rem;
}

.action h3 {
  font-size: 18px;
  color: #f9faf8;
}

.action p {
  color: #e5e7eb;
}

/* FOOTER */
footer {
  background-color: #1f2937;
  padding: 30px 200px;
  text-align: center;
  color: #e5e7eb;
}

